@{
    ViewData["Title"] = "Home Page";
}


<h1>Info</h1>
<div class="container">
<div class="row">
<ul>
    <li>Visit <a href="/TreeItems">Items</a> page for ADMIN to manage single items (roots, branches and leafs). This edit mode doesn't contain parent validation. </li>
    <li>Visit <a href="/TreeItems/GetRoots">Trees</a> page to manage trees. This edit mode provides secure branches moving. </li>
<li></li>
</ul>
</div>
</div>
